.footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 25px;
}

.footer a{
    color: aliceblue !important;
}

.footer li{
    margin-left: 15px;
}


.footer p{
    margin: 25px;
}

@media screen and (max-width: 1200px){
    .footer{
        flex-direction: column;
        align-items: center;
    }

    .footer li{
        margin: 0% 30%;
    }

    .footer p{
        margin-left: 10%;
    }
}